.col-md-8.col-md-offset-2
	.row
		- @pics.each do |pic|
			.panel.panel-default
				.panel-heading
					%h2=link_to pic.title, pic
				.panel-body
					= link_to (image_tag pic.image.url(:medium)), pic